<h1>TRACKS</h1>

<ul>
  <% @track_ids.each do |id| %>
    <iframe width="600" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  <% end %>
</ul>

